.title {
  position: absolute;
  z-index: 10;
  top: 10rem;
  left: 15vw;
  width: calc(100vw - 15vw);
  color: #1a1a1a;
}

.titleBlend {
  position: absolute;
  z-index: 10;
}

.welcomeTo {
  font-size: 3.8rem;
  margin-left: 1rem;
  color: #1a1a1a;
}

.titleDelfyle {
  font-size: 13.7rem;
  margin-top: 1.2rem;
  margin-bottom: 2.5rem;
  color: #ffffff;
}

.subTitle {
  margin-top: 1rem;
  line-height: 1.1;
  font-size: 3.8rem;
  margin-left: 0.8rem;
  color: #1a1a1a;
}

@media screen and (max-width: 1199px) {
  .title {
    left: 5vw;
    width: calc(100vw - 5vw);
  }
}
