.contents {
  padding: 0 0 0 5.7vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

.description {
  padding-bottom: 2vw;
}

.p {
  width: 30rem;
}

.buttons {
  margin-top: 3rem;
}

.heroImage {
  margin-top: 3rem;
}

@media screen and (max-width: 1199px) {
  .contents {
    padding: 0 0 0 5vw;
  }

  .description {
    padding: 0 0 13rem 0;
  }

  .p {
    width: auto;
  }
}

@media screen and (max-width: 599px) {
  .contents {
    grid-template-columns: 100% 0%;
    padding: 0 5vw;
  }

  .description {
    padding: 20rem 0 0 0;
  }

  .heroImage {
    display: none;
  }
}
