.mainHeading {
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  background: linear-gradient(
    135deg,
    rgba(107, 0, 62, 1) 0%,
    rgba(180, 0, 104, 1) 50%,
    rgba(255, 0, 128, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.mainHeading::first-letter {
  font-size: 5.5rem;
  line-height: 1;
}
